@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
body{
    background: #F4FDFF;
    font-size: 100%;
    font-family: 'DM Sans';
}

#title{
    background-color: #5B7553;
    border: solid 2px #040403;
    width: 80vw;
    height: fit-content;
    margin-top: 1em;
    margin: auto;
    padding: auto;
}

#title>h1{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

}

#coordsContainer{
    padding: 1em;
    background-color: #5B7553;
    border: solid 2px #040403;
    width: 50vw;
    height: fit-content;
    max-height: 50vh;
    overflow-y: scroll;
    margin: auto;
    margin-top: 1em;
    color: darkblue;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

.rainbow{
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}
